@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900");
body {
    margin: auto;
    background-color: rgb(100, 65, 175);
    font-family: "Roboto", sans-serif;
}

nav,
footer,
.container {
    width: 100vw;
    position: absolute;
    right: 0;
    left: 0;
}

nav {
    display: flex;
    height: 5vh;
    top: 0;
}

footer {
    display: flex;
    height: 5vh;
    bottom: 0;
}

.container {
    overflow: hidden;
    height: 90vh;
    width: inherit;
    top: 5vh;
    bottom: 5vh;
}

.introduction {
    display: flex;
    height: inherit;
    width: inherit;
}

nav,
footer,
.logo .material-icons {
    align-items: center;
}

nav ul,
footer ul {
    margin: 0px;
    padding: 0px;
    width: inherit;
}

nav ul li,
footer ul li {
    font-size: calc(2vh+2vw+2vmin);
    display: inline;
    margin-right: 1%;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    float: right;
}

nav ul li {
    float: left;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(209, 192, 241);
}

.logo {
    height: 32px;
    width: 32px;
    cursor: default;
}

.me {
    display: block;
    margin: auto;
    cursor: default;
    width: 40vh;
    height: 30vh;
    max-height: 400px;
    max-width: 300px;
}

.logo:hover,
.material-icons:hover {
    opacity: 0.4;
}

.material-icons {
    font-size: 32px;
    color: rgb(255, 255, 255);
}


/*
Paleta colores temporal:
    claro:   rgb(209, 192, 241);
    base:    rgb(100, 65, 175);
    oscuro:  rgb(55, 71, 139);
    palido:  rgb(152, 133, 198);
    brillo:  rgb(190, 127, 56);
*/