body {
    background-color: rgb(65, 100, 175)
}

nav footer {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    height: 5%;
    vertical-align: center;
    align-content: center;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
    border-bottom: 1px solid rgb(100, 65, 165);
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.container {
    align-content: center;
    width: 100%;
    height: 90%
}